@media only screen and (min-width: 1080px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px 10px;
    background-color: #ffb347;
    padding: 20px;
    height: 94vh;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255);
  }

  .item1 {
    border: 1px solid #ffb347;
    border-radius: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 13;
  }

  .item2 {
    border: 1px solid #ffb347;
    border-radius: 20px;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .item4 {
    border: 1px solid #ffb347;
    border-radius: 20px;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
    canvas {
      border-radius: 20px !important;
    }
  }

  .item3 {
    border: 1px solid #ffb347;
    border-radius: 20px;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
  }

  .item6 {
    border: 1px solid #ffb347;
    border-radius: 20px;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 9;
    canvas {
      border-radius: 20px !important;
    }
  }

  .item7 {
    border: 1px solid #ffb347;
    border-radius: 20px;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 13;
    canvas {
      border-radius: 20px !important;
    }
  }

  .item8 {
    border: 1px solid #ffb347;
    border-radius: 20px;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 13;
    canvas {
      border-radius: 20px !important;
    }
  }

  .item9 {
    border: 1px solid #ffb347;
    border-radius: 20px;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 13;
    canvas {
      border-radius: 20px !important;
    }
  }
}

